body {
    display: flex;
    column-gap: 20px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .hamburger.is-lg {
    position: relative;
    width: 1em;
    height: 1em;
    font-size: inherit;
    transition: all 0.3s ease;
    cursor: pointer;
  
    &.is-sm {
      font-size: 1rem;
    }
  
    &.is-md {
      font-size: 1.5rem;
    }
  
    &.is-lg {
      font-size: 2rem;
    }
  
    &-line {
      position: absolute;
      right: 0;
      width: 100%;
      height: 0.125em;
      border-radius: 0.125em;
      background: currentColor;
      transition: inherit;
  
      &:nth-child(1) {
        top: 0.125em;
  
        .hamburger.is-active &,
        .w-nav-button.w--open & {
          top: 50%;
          transform: translateY(-50%) rotateZ(-135deg);
        }
      }
  
      &:nth-child(2) {
        top: 0.438em;
  
        .hamburger.is-active &,
        .w-nav-button.w--open & {
          right: 50%;
          width: 0;
        }
      }
  
      &:nth-child(3) {
        top: 0.75em;
        width: 0.625em;
  
        .hamburger.is-active &,
        .w-nav-button.w--open & {
          top: 50%;
          width: 100%;
          transform: translateY(-50%) rotateZ(135deg);
        }
      }
    }
  }
  