body {
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

/* 
--------------------------------------------------------
openbtn
--------------------------------------------------------
*/
.openbtn {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.openbtn .openbtn-area {
  transition: transform 0.4s ease, width 0.4s ease;
  width: 50px;
  height: 50px;
}

.openbtn span {
  position: absolute;
  background: #0B1956;
  display: inline-block;
  border-radius: 3px;
  left: 12px;
  height: 3px;
  width: 50%;
  transition: all 0.4s ease;
}

.openbtn span:nth-of-type(1) {
  top: 16px;
}

.openbtn span:nth-of-type(2) {
  top: 24px;
}

.openbtn span:nth-of-type(3) {
  top: 32px;
}

/* Efeito de rotação quando o botão está ativo */
.openbtn.active .openbtn-area {
  transform: rotate(360deg);
}

.openbtn.active span:nth-of-type(1) {
  width: 45%;
  top: 18px;
  left: 14px;
  transform: translateY(6px) rotate(-45deg);
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  width: 45%;
  top: 30px;
  left: 14px;
  transform: translateY(-6px) rotate(45deg);
}

a{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}


.hidden {
  opacity: 0;
  visibility: hidden; /* Torna o elemento inacessível */
  transition: opacity 0.4s ease, visibility 0.4s ease; /* Adiciona transição suave */
}

/* Quando visível */
.visible {
  opacity: 1;
  visibility: visible; /* Torna o elemento acessível */
}

/* Aplica blur no conteúdo principal (não no menu) */
.blurred {
  filter: blur(15px); /* Intensidade do desfoque */
  transition: filter 0.4s ease; /* Transição suave do desfoque */
}

/* Overlay inicial (não visível) */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 1; /* Coloca o overlay acima de tudo */
}

/* Overlay visível */
#overlay.visible {
  visibility: visible;
  opacity: 1;
  margin-left: 300px;
}

